@media(max-width:805px) {
	#brc-print {
		display: none;
	}
	#left-col,
	#right-col {
		float:none;
		width:auto;
	}
	#header {
		border-top:none;
	}
	#header::before {
		display: none;
	}
	#header .wrap {
		padding:25px 0 12px 0;
	}

	#hdr-links {
		position: absolute;
		top:0px;
		right:24px;
	}

	#hamburger {
		display: block;
		top:21px;
	}
	#bulletin-logo {
		overflow-y:hidden;
		margin-top:8px;
		padding-left:38px;
		width:225px;
	}
	#bulletin-logo img {
		margin-top:-16px;
	}
	#mit-logo {
		padding-top:10px;
		margin-right:10px;
		width:47px;
		overflow-x:hidden;
	}
	#mit-logo img {
		margin-left:10px;
		max-width: none !important;
		width: 200% !important;
	}
	#page-hero {
		/* border-top:4px solid var(--color-orange);
		border-bottom:4px solid var(--color-orange); */
		height:auto;
		padding:40px 0;
	}
	#page-hero.hidemobile { display: none; }
	#hero-text {
		font-size:2em;
		margin-top:0;
	}

	#page-content.wrap {
		width:auto;
		padding:15px;
		padding-top:0;
	}

	h1 {
		font-size:18px;
		margin-top:20px;
	}

	#content #tabs {
		margin-bottom:30px;
	}
	#content #tabs ul li {
		float:none;
		display: block;
		margin:0;
		font-size:11px;
	}
	#content #tabs ul li.active a:after {
		display: none;
	}
	#content table {
		font-size:.9em;
	}

	#footer-links a {
		display: block;
		width:auto;
	}
	#footer-links br {
		display: none;
	}
	#footer-bulletin {
		display: none;
	}
	#footer-branding {
		border-top:none;
	}
	.foot-col {
		width:auto !important;
		text-align: left !important;
		clear:both;
		float:none !important;
	}

	#cl-menu {
		padding:0 10px;
		width:100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	#cl-menu ul.nav li a:before {
		content:"";
		margin-left:0;
	}

	#left-col {
		border-bottom:1px solid #ccc;
		margin:0 -15px;
	}
	#sidebar-header {
		display: block;
		height:auto;
		color:var(--color-dark-brown);
		font-size:20px;
		padding:10px 15px;
		font-family: "AdelleSans-Bold",Helvetica,Arial,sans-serif;
		cursor: pointer;
		margin-bottom:0;

	}
	#sidebar-header:before {
		content:"\f0c9";
		font-family: FontAwesome;
		font-size:28px;
		position: relative;
		float:left;
		top:-6px;
		left:0;
		width:30px;
		height:30px;
		z-index: 99;
		margin-right:7px;
	}

	#select-subject {
		display: block;
		height:auto;
		background:var(--color-dark-brown);
		color:#fff;
		font-size:14px;
		padding:10px;
		font-family: "AdelleSans-Bold",Helvetica,Arial,sans-serif;
		cursor: pointer;
		margin-bottom:0;
	}
	#select-subject:after {
		content:"\f0d7";
		font-family: FontAwesome;
		font-size:30px;
		position: relative;
		float:right;
		top:-10px;
		right:0;
		width:30px;
		height:30px;
		z-index: 99;
	}

	#section-anchors ul {
		background:var(--color-dark-brown);
	}
	#content #section-anchors ul li {
		float:none;
	}
	#content #section-anchors ul li a {
		background:none;
		color:#fff;
	}
	#content #section-anchors ul li a:hover {
		color:#fff;
		font-weight: normal;
	}

	#search {
		background: #ddd;
		padding: 15px;
		box-sizing: border-box;
		margin-bottom: 0;
	}
	#search input[type=text] {
		background: #fff;
	}
}