/*Courseleaf Controls*/
#pw_toolbar,
#pw_toolbar_toggle,
#pw_statusbar,
#sb_publish_bubble_bottom,
#warningwin,
#loadingwin,
.lfeditable,
.lfjsbubble {
	display: none;
}

/*Tabs*/
#tabs {
	display: none !important;
}
.tab_content {
	display: block !important;
}

/*A-Z Index*/
#content ul.letternav {
	margin: 0 0 1em 0;
}
#content ul.letternav li {
	display: inline;
}


.accessible,#header,#navigation,#footer,#sidebar,#print-button,#search,#breadcrumb,#totop,#page-hero,#search-mobile {
	display: none !important;
}

body {
	color: #333;
	font-family: 'AdelleSans-Regular', Helvetica, Arial;
	font-size: 87.5%;
	font-weight: 400;
	line-height: 1.25;
	margin:1em;
}

#content a,
#content a:hover {
	color:#d8356e;
	text-decoration: none;
}

/*General Typography*/
h1 {
	margin:0 0 1em 0;
	font-size: 1.5em;
	font-weight: 600;
	color: #333;
	line-height: 1.2em;
}
h2,h3,h4,h5,h6 { color:#222; font-weight: 600;}
#content h2 {font-size: 1.25em; margin: .8em 0; }
#content h3 {font-size: 1.125em; margin: .8em 0 .3em; font-family:"AdelleSans-Italic",Helvetica,Arial,sans-serif; }
#content h4 {font-size: 1.125em; margin: .8em 0; }
#content h5 {font-size: 1em; margin: .8em 0; }
#content h6 {font-size: 0.875em; margin: 0 0 .25em 0; }
#content p, #content dl {font-size: 1em; margin: 0 0 1em 0;}
#content p.introtext { font-size:1.25em; }
#content ul {font-size: 1em; list-style: disc; margin: 0 0 2em 25px;}
#content ol {font-size: 1em; margin: 0 0 2em 30px;}
#content ul ul,#content ol ol { margin-left:16px; }
#content ol li, #content ul li {margin: 0 0 .5em 0;}
#content li br {margin: 0 0 .5em 0;}
#content ul li ul, #content ol li ol {font-size: 1em;}
#content ol li ul, #content ul li ol {font-size: 1em;}
#content li p, #content ul table, #content ol table {font-size: 1em;}
#content sup {font-size: .8em; vertical-align: super; line-height: 1;}
#content sub {font-size: .8em; vertical-align: sub; line-height: 1;}
#content hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

/*Nested Ordered Lists*/
#content ol:not([type]) {list-style: decimal;}
#content ol ol:not([type]) {list-style: lower-alpha;}
#content ol ol ol:not([type]) {list-style: lower-roman;}
#content ol ol li:first-child, #content ol ol ol li:first-child {margin-top: .5em;}

/*Nested Unordered Lists*/
#content ul ul li:first-child, #content ul ul ul li:first-child {margin-top: .5em;}

/*Tightlist*/
#content ul.tightlist {list-style: none; margin: 0 0 .5em 0;}
#content ul.tightlist ul {list-style: none; margin: 0 0 0 25px;}
#content ul.tightlist li {margin: 13px 0;}
#content ul.tightlist ul li:first-child, #content ul.tightlist ul ul li:first-child {margin-top: 0;}

/*Blockquotes*/
#content blockquote {margin: 0 0 .25em 0; padding: 0 0 0 1.5em; font-style: italic;}
#content blockquote p {line-height: 1.5;}
#content blockquote cite {display: block; font-size: .75em;}
#content blockquote cite:before {content: "\2014 \0020";}
#content blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {color: #ccc;}

/*Tables*/
#content table {margin: 0 0 1em 0; width: 100%;border-top:3px solid #09F; }
#content th {padding: .3em 0em; vertical-align: top; font-weight: bold; border-bottom: 1px solid #ccc; text-align: left;}
#content td {border-top: 1px solid #aaa; padding: .3em 0em; vertical-align: top;}
#content td img {vertical-align: top;}
#content td p, #content td li {margin: 0; font-size: 1em;}

/*Two Columns*/
#content .cola {
	width: 48%;
	float: left;
}
#content .colb {
	width: 48%;
	float: right;
}

#content .cola ul,
#content .colb ul {
	margin-left:13px;
}

/*Structured Content*/
#content tr.areaheader td,
#content td.areaheader,
#content span.areaheader,
#content tr.listsum td,
#content tr.plangridtotal td,
#content tr.plangridsum td {
	font-weight: bold;
}
#content tr.orclass td {
	padding-top: 0;
	border-top: none;
}
#content tr.orclass td.codecol {
	padding-left: 20px;
}
#content td.hourscol,
#content th.hourscol {
	text-align: right;
}
#content .hiddencourselist {
	display: none;
}

/*Plan Grid*/
#content .plangridyear th {
	border-top: 1px solid #ccc;
}
#content .sc_plangrid tr th,
#content .sc_plangrid tr td {
	padding-left:1em;
	padding-right:1em;
}
#content .sc_plangrid tr th:nth-child(1),
#content .sc_plangrid tr th:nth-child(2),
#content .sc_plangrid tr td:nth-child(1),
#content .sc_plangrid tr td:nth-child(2),
#content .sc_plangrid tr .hourscol {
	padding-left:0;
	padding-right:0;
}

/*Fees*/
#content table.tbl_fees td.column0 {
	width: 90%;
}
#content table.tbl_fees td.column1 {
	width: 10%;
	text-align: right;
}

/*Calendar*/
#content table.tbl_calendar col.column0 {
	width: 8%;
}
#content table.tbl_calendar col.column1 {
	width: 12%;
}

/* Grades Table */
#content table.tbl_grades .column0 {
	width:6%;
}

/*Footnotes*/
#content .sc_footnotes {
	border: 0;
}
#content .sc_footnotes td {
	padding: 0 0 .75em 0;
	border: 0;
	font-size:14px;
}
#content .sc_footnotes td.symcol {
	width: 15px;
	font-size: .8em;
}

/*Course Blocks*/
h2.departhead {
	background: #107cc0;
	color: #fff;
	font-weight: 600;
	padding: 6px 40px 6px 10px;
	display: inline-block;
	margin: 5px 0;
	font-size: 1.1em;
	margin-bottom: 15px;
}
h2.sectionhead {
	background:#107cc0;
	color:#fff;
	font-weight: 600;
	padding:6px 10px;
	display: inline-block;
	margin:5px 0;
	font-size:1.1em;
	margin-bottom:15px;
}
h3.subsection {
	font-size: 1.1em;
	margin: .8em 0 .6em;
	padding-bottom:.3em;
	font-weight: 600;
	border-bottom:1px solid #ddd;
}
p.sectionnote,
p.subsectionnote {
	margin-bottom:15px;
}
.courseblock {
	margin-bottom: 30px;
}
#content h4.courseblocktitle {
	margin: 0 0 2px;
	font-size: 20px;
	font-weight: 300;
}
#content h4.courseblocktitle strong { /*HTML <strong> for PDF*/
	font-weight: 300;
}
#content h4.courseblocktitle span.titleextra {
	color: #d8356e;
}
#content p.courseblockextra span,
#content p.courseblockinstructors span {
	display: block;
}
#content p.courseblockdesc {
	margin-bottom: 0;
}

/*Course Bubbles*/
.lfjsbubble p {
	margin: 0 0 1em 0;
}
.lfjsbubble p.courseblocktitle {
	font-weight: bold;
	margin: 0 0 8px;
}
.lfjsbubble p.courseblocktitle span.titleextra {
	color:#d8356e;
}
.lfjsbubble p.courseblockextra span,
.lfjsbubble p.courseblockinstructors span {
	display: block;
}
.lfjsbubble p.seemore {
	display: none;
}

#content #section-anchors ul li a {
	background:#ccc;
	color:#777;
	font-size:.9em;
	font-weight: normal;
}

/*A-Z Index*/
#content ul.letternav {
	margin: 0 0 1em 0;
	list-style: none;
}
#content ul.letternav li {
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	margin: 0 1px 1px 0;
}
#content ul.letternav li a,
#content ul.letternav li.inactive {
	padding: .25em .6em;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 1em;
	float: left;
	border: none;
	background: #107cc0;
}
#content ul.letternav li.inactive {
	background: #999;
}
#content ul.letternav li a {
	color: #fff;
	text-decoration: none;
	border: none;
}
#content ul.letternav li a:hover,
#content ul.letternav li a:active,
#content ul.letternav li a:focus {
	background: #d8356e;
}


/* Course List */
table.sc_courselist col.codecol {
	width:18%;
}
table.sc_courselist tr.areaheader span.courselistcomment {
	font-weight: normal;
}
table.sc_courselist col.hourscol {
	width:10%;
}
/* Degree Offerings */
table.sc_sctable.tbl_degreesoffered col.column0 {
	width:22%;
}
#content table.sc_sctable.tbl_degreesoffered .column0 {
	padding-right:1.7%;
}

/* GIRS table */
#content table.sc_sctable.tbl_girs .column0 {
	padding-right: 10px;
}
#content table.sc_sctable.tbl_girs .column1 {
	text-align: right;
}

/*Image Floats*/
#content img.imgleft {
	padding: 0 10px 10px 0;
	float: left;
}
#content img.imgright {
	padding: 0 0 10px 10px;
	float: right;
}

/*Archive Message*/
#content .archive-message p {
	padding: .5em;
	border: 1px solid #ccc;
}

/*Shared Message*/
#content .shared-message p {
	padding: .5em;
	border: 1px solid #ccc;
}

#content div.facitem {
	margin: 0 0 1em 0;
}
#content div.facitem p {
	margin: 0;
}

/*Google Search Results*/
#content .gcs-pagination {
	text-align: left;
}
#content .gcs-pagination a,
#content .gcs-pagination .current {
	padding: 5px 12px;
	font-size: 0.75em;
	color: #333;
	text-decoration: none;
	background-color: #f5f5f5;
	background-image: none;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	border: 1px solid #bbbbbb;
	display: inline-block;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#content .gcs-pagination .current {
	color: #fff;
	background-color: #999;
	background-image: none;
}

/*Google Search Results*/
#content .gcs-url {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
}
#content .gcs-total  {
	margin: 0 0 1em 0;
	font-style: italic;
}
#content .gcs-result h3 {
	margin: 0;
}